{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title class="page-title">Excercises</title>
    <link rel="stylesheet" href="{% static 'css/excercises1.css' %}">
    <link rel="icon" href="{% static 'images/A-logo.png' %}">
</head>
<body>
    <div class="top-div">
        <a href="{% url 'HomePage' %}"><img class="Logo" src="{% static 'images/Logo.png' %}"></a>
        <p>HOME <br> WORKOUT</p>
        <img class="Profile-pic" src="">
    </div>
{% if Data and Main_Data or Count or FocusFields %}
        <div class="Body">
            <h1 class="page-name">{{ Name }}</h1>
            <div class="Main-div">
                <div class="inner-div1">
                    <img class="main-img" src="{{ Data.MainImage.url }}" alt="Main_Image">
                    <h2 class="title">{{ Data.MainTitle }}</h2>
                    <h2 class="Instructions-title">INSTRUCTIONS</h2>
                    <p class="text1">{{ Data.Text1 }}</p>
                    <p class="text2">{{ Data.Text2 }}</p>
                    <button class="Speak-Button" value="Speak"><img class="Speak-btn-Img" src="{% static 'images/Speaker-Logo.png' %}"></button>
                </div>
                <div class="inner-div2">
                    <h2 class="focus-title">Focus Area</h2>
                    <div class="Focus-Area-pointers" data-myvalue="{{ FocusFields }}"></div>
                    <img class="focus-img" src="{{ Data.Image.url }}" alt="Image" width="200px">
                </div>
            </div>
            <div class="E-button-div">
                <form action="" method="post">
                    {% csrf_token %}
                    <button class="forward-btn" name="Backward" value="false" onclick="forwardButton('Backward')"><img src="{% static 'images/left-arrow.png' %}"></button>
                        <span><span class="current-data-idx">{{ Count|add:1 }}</span>/<span class="data-length">{{ Main_Data|length }}</span></span>
                    <button class="backward-btn" name="Forward" value="false" onclick="forwardButton('Forward')"><img src="{% static 'images/right-arrow.png' %}"></button>
                </form>
            </div>
        </div>
{% endif %}

<script src="{% static 'js/excercises.js' %}"></script>
</body>
</html>