{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/homepages.css' %}">
    <link rel="icon" href="{% static 'images/A-logo.png' %}">
</head>
<body>
    <div class="top-div">
        <a href="{% url 'HomePage' %}"><img class="Logo" src="{% static 'images/Logo.png' %}"></a>
        <p>HOME <br> WORKOUT</p>
        <img class="Profile-pic" src="" onclick="SideMiniBar()">
    </div>
    <div class="home-main-div">
    </div>

<div class="SideBar">
    <a href="{% url 'WebStartPage' %}" class="sidebar-txt" value="Close">Change Gender</a>
</div>

<script src="{% static 'js/home.js' %}"></script>

<script>
    let UrlNameArray = ['BeginnerAbsPage','BeginnerChestPage','BeginnerArmPage','BeginnerBackPage','BeginnerLegPage',
                        'IntermediateAbsPage','IntermediateChestPage','IntermediateArmPage','IntermediateBackPage','IntermediateLegPage',
                        'AdvancedAbsPage','AdvancedChestPage','AdvancedArmPage','AdvancedBackPage','AdvancedLegPage'];

    let Url_Data = {{ Main_Urls_Data|safe }};

    for (let i = 0; i < UrlNameArray.length; i++)
        document.querySelector(`.Container-${i}`).addEventListener('click', function(){
            window.location.href = Url_Data[UrlNameArray[i]];
        })
</script>
</body>
</html>